/*------------------------------ General ----------------------------*/
* {
    Margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul {
    list-style-type: none;
}

/*---------------------INDX - Postgif------------------------*/

.presentationTittle {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 3.5rem;
    color: #ffffff;
    text-align: center;
}

.presentationSubTittle {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: #ffffff;
}

.navPresentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.ulPresentation {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.liPresentation {
    display: inline-block;
}

.ulPresentation .liPresentation:hover a i {
    color: #ffffff;

}

.navHireMe {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}

.ulHireMe {
    list-style-type: none;
    overflow: hidden;
}

.liHireMe {
    display: inline-block;
    text-align: center;
    width: 16rem;
}

.aHireMe {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    display: block;
    padding: 1rem;
    color: #FFFFFF;
    background-color: #fa897b;
    border-radius: 3rem;
}

.ulHireMe .liHireMe:hover .aHireMe {
    background-color: #d85746;
}

#presentationTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 70%;
}

/* -----------Section 2 ABOUT ME-------------- */

.subTittlesGeneral {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
    margin-top: 2rem;
}

.aboutMeSubTittle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #fee73c;
}

.aboutMeP {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
}

.aboutMeImage {
    height: 10rem;
}

#idAboutMe {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
}

.columnWapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.aboutMeColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

/* -------------------Header------------------*/
header {
    background-color: #26192b;
    box-shadow: 0 2px 5px 3px rgb(0 0 0 / 5%);
}

.headerImage {
    height: 6rem;
    width: 6rem;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navContainer:last-child {
    margin-right: 2rem;
}

.navContainer:first-child {
    margin-left: 2rem;
}

.ulHeader {
    list-style-type: none;
    display: flex;
    gap: 4rem;
}

.ulHeader .liHeader:hover .aHeader {
    color: #fee73c;
}

.aHeader {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    display: block;
    color: #FFFFFF;
}

body {
    background-color: #231d36;
}


/* ------------- skills flex-------------*/

.skillsSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-image: linear-gradient(#2f2035, #231d36);
}

.skillsColumn {
    display: flex;
    flex-direction: Row;
    padding: 2rem;
}

.skillImageWraper{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 2rem;
        width: 50%;
}

.skillBarWrapper{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 2rem;
        width: 50%;
}

/* ------------- skills General -------------*/
.barOrganization {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1rem;
}

.barSubColumn{
    display: flex;
    flex-direction: column;
    width: 75%;

}

.skillsP {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    color: #fee73c;
    width: 50%;
}
.skillsdesc {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    display: block;
    color: #FFFFFF;
    }

.skillsdescP{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    display: block;
    color: #FFFFFF;
    text-align: center;
}

.skillCharacterGif{
    width: 35rem;
}

.itemSkill{
    width: 7rem;
}

/* -------------------- Skill bars --------------------------*/

.skillBar{
    background-color: #353b48;
    display: block;
    height: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #18160c;
    width: 75%;
}

.digitalBar{
    height: 3rem;
    float: left;
    background: #f54e57;
    width: 75%;
}
.animationBar{
    height: 3rem;
    float: left;
    background: #f6be67;
    width: 85%;
}
.characterBar{
    height: 3rem;
    float: left;
    background: #1b88d1;
    width: 65%;
}
/*-----------------Services ANIMATION 1------------*/
#animation1 {
    width: 240px;
    height: 240px;
    background-image: url(../Grid/multimedia/Ilustradorprueba.png);
    background-position: top left;
}

#animation1:hover {
    width: 240px;
    height: 240px;
    background-image: url(../Grid/multimedia/Ilustradorprueba.png);

    animation: play 2s steps(21) infinite;
}

@keyframes play {
    from {
        background-position: 0px;
    }

    to {
        background-position: -5040px;
    }
}
/*-----------------Services ANIMATION 2------------*/
#animation2 {
    width: 240px;
    height: 240px;
    background-image: url(../Grid/multimedia/webprueba.png);
    background-position: top left;
}

#animation2:hover {
    width: 240px;
    height: 240px;
    background-image: url(../Grid/multimedia/webprueba.png);

    animation: play1 2s steps(20) infinite;
}

@keyframes play1 {
    from {
        background-position: 0px;
    }

    to {
        background-position: -4800px;
    }
}
/*-----------------Services ANIMATION 3------------*/
#animation3 {
    width: 240px;
    height: 240px;
    background-image: url(../Grid/multimedia/Designerprueba.png);
    background-position: top left;
}

#animation3:hover {
    width: 240px;
    height: 240px;
    background-image: url(../Grid/multimedia/Designerprueba.png);

    animation: play2 2s steps(23) infinite;
}

@keyframes play2 {
    from {
        background-position: 0px;
    }

    to {
        background-position: -5520px;
    }
}

#servicesBigWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#2f2035, #231d36);
}

#idServices {
    grid-area: Services;
}

#idProject {
    grid-area: Projects
}


#idServices {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#idProjects {
    width: 100%;
}

.serviceColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
}

.serviceSubtittle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
}

.serviceP {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    color: #ffffff;
}

.projectImage {
    width: 95%;
    transition: width 1s;
}

.projectImage:hover {
    width: 100%;
}

/* ------------------ Projects -------------------*/
#idProjects {
    width: 100%;
}

.navProjects {
    display: flex;
    padding: 5rem;
}

.ulProjects {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

/* -------------------- Experience -------------------*/
.experienceSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-image: linear-gradient(#2f2035, #231d36);
}
.mapContainer{
    display: flex;
    justify-content: center;
}
/*--------------- Animation --------------------*/
#mapAnimation {
    display: flex;
    width: 536px;
    height: 340px;
    background-image: url(/multimedia/Map-experience.png);
    background-position: top left;
}

#mapAnimation:hover {
    width: 536px;
    height: 340px;
    background-image: url(/multimedia/Map-experience.png);

    animation: play4 10s steps(95) infinite;
}

@keyframes play4 {
    from {
        background-position: 0px;
    }

    to {
        background-position: -50920px;
    }
}

/*--------------- Animation --------------------*/

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin-left: 40rem;
    margin-right: 40rem;
    margin-bottom: 2rem;
    }

.experienceCard {
    display: flex;
    align-items: center;
    gap:1rem;
    background-color: #2f2035;
    padding: 2rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    width: 50rem;
}

.experienceInfoWrapper{
    display: flex;
    flex-direction: column;
}

.experienceImg{
    height: 5rem;
}

.experienceH3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #fee73c;
}

.experienceP {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    color: #ffffff;
}

.experienceH4 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #ffffff;
}

/* ------------- Contact -------------*/
.contactSection {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 3rem;
    background-image: linear-gradient(#2f2035, #231d36);
}
.formWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    gap: 3rem;
}
.artContainer {
    display: flex;
    flex-direction: column;
}

.contactSubtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
}

.aEmailMe {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: #fee73c;
}

.aEmailMe:hover {
    font-weight: bold;
}

.contactP {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    color: #ffffff;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.contactImput {
    margin: 1rem;
    border-radius: 3rem;
    padding: 1rem;
    width: 25rem;
    font-family: 'Poppins', sans-serif;
}

.contactImputtext {
    margin: 1rem;
    border-radius: 3rem;
    padding: 1rem;
    width: 25rem;
    height: 10rem;
    font-family: 'Poppins', sans-serif;
}

.contactSend {
    margin: 1rem;
    border-radius: 3rem;
    padding: 1rem;
    width: 20rem;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background-color: #fa897b;
}

.contactSend:hover {
    background-color: #d15a4a;
}

.contactImage{
    width: 20rem;
}

/* ------------- Footer -------------*/
footer {
    background-color: #0f0d17;
    width: 100%;
    float: left;
}

.navFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.ulFooter {
    list-style-type: none;
    display: flex;
    gap: 4rem;
    align-items: center;
}

.ulFooter .liFooter:hover a i {
    color: #ffffff;
}

.liFooter {
    align-items: center;
}

i {
    /* me mareo un poco con las clases*/
    font-size: 2.5rem;
    color: #b6b6b6;
}

.copyRight {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
}

/*-----------------------------Mobile-------------------------------*/

@media only screen and (min-width: 320px) {

    /*-----------------------------Header-------------------------------*/
    .ulHeader {
        list-style-type: none;
        display: flex;
        gap: 2rem;
    }

    .aHeader {
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        display: block;
        color: #FFFFFF;
    }

    /*----------------------------- Setions-------------------------------*/
    #grillaIndex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 15% 25% 50%;
        justify-items: center;
        grid-template-areas:
            "gif"
            "imagen"
            "presentacion"
            "aboutme";
    }

    .navPresentation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        flex-direction: column;
    }

    .navHireMe {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    .presentationSubTittle {
        text-align: center;
    }

    .columnWapper {
        flex-wrap: wrap;

    }

    #gifContainer {
        grid-area: gif;
    }

    #presentationImageContainer {
        grid-area: imagen;
    }

    #presentationTextContainer {
        grid-area: presentacion;
    }

    #idAboutMe {
        grid-area: aboutme;
    }

    .presentationImage {
        height: 100%;
    }

    /* Section 1 */
    .gifPrincipal {
        width: 100%;
        /*idealmente, cuando tenga algo de tiempo corregiré la imagen en su debido tamaño*/
    }

    #presentationTextContainer {
        width: 95%;
    }
}

/*-----------------------------Tablet-------------------------------*/
@media only screen and (min-width: 728px) {

    .ulHeader {
        list-style-type: none;
        display: flex;
        gap: 4rem;
    }

    .aHeader {
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        display: block;
        color: #FFFFFF;
    }


    #grillaIndex {
        display: grid;
        grid-template-areas:
            "gif gif"
            "imagen presentacion"
            "aboutme aboutme";
        grid-template-rows: 20% 40% 40%;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .columnWapper {
        flex-wrap: wrap;
    }

    #gifContainer {
        grid-area: gif;
    }

    #presentationImageContainer {
        grid-area: imagen;
        justify-self: end;
    }

    #presentationTextContainer {
        grid-area: presentacion;
        justify-self: start;
    }

    #idAboutMe {
        grid-area: aboutme;
    }

    .presentationImage {
        height: 100%;
    }

    /* Section 1 */
    .gifPrincipal {
        width: 100%;
        /*idealmente, cuando tenga algo de tiempo corregiré la imagen en su debido tamaño*/
    }

    .aboutMeImage {
        height: 6rem;
    }
}

/* -------------------Desktop------------------*/
@media only screen and (min-width: 1024px) {

    .ulHeader {
        list-style-type: none;
        display: flex;
        gap: 4rem;
    }

    .aHeader {
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        display: block;
        color: #FFFFFF;
    }

    #grillaIndex {
        display: grid;
        grid-template-areas:
            "gif gif gif gif"
            ". imagen presentacion ."
            ". aboutme aboutme .";
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: 15% 35% 35% 15%;
        justify-items: center;
    }

    #gifContainer {
        grid-area: gif;
    }

    .columnWapper {
        flex-wrap: nowrap;
    }

    #presentationImageContainer {
        grid-area: imagen;
        justify-self: end;
    }

    #presentationTextContainer {
        grid-area: presentacion;
        justify-self: start;
        width: 70%;
    }

    #idAboutMe {
        grid-area: aboutme;
    }

    .presentationImage {
        height: 100%;
    }

    /* Section 1 */
    .gifPrincipal {
        width: 100%;
        /*idealmente, cuando tenga algo de tiempo corregiré la imagen en su debido tamaño*/
    }

    .aboutMeImage {
        height: 10rem;
    }

}